* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(48, 118, 127);
    color: rgb(0, 0, 0);
}
h1 {
    text-align: center;
    padding: 10px;
}
img {
    width: 50%;
    height: auto;
}